/************************************************/
/* Portfolio Page CSS                                */
/************************************************/
/*
    Author: John-David A. Amador
    Date:    March 2025
*/
/************************************************/
/* background
********************/
/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
body {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    font-size: 16px;

}
/*
    header/ page top
************************/
header {
    padding: 10px; /* Reduce padding for mobile */
}

.container {
    display: flex;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: column; /* Stack header content vertically */
    align-items: center; /* Center align content */
}

.header-content h1 {
    white-space: nowrap; /* Prevent title from wrapping */
    font-size: 1.75em; /* Adjust font size */
    margin: 10px 10px; /* Adjust margins */
}

/*
    Hamburger Menu
***********************/
.hamburger-container {
    position: fixed; /* Fixed positioning */
    top: 9vh;
    right: 14vw; /* Moved to the right */
    z-index: 100; /* Higher z-index */
}
.hamburger-menu {
    background-color: black;
    border-radius: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightblue;
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
    font-size: 2em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: 1;
    position: fixed; /* Fixed positioning */
    /*top: 20px;
    right: 20px; /* Moved to the right */
    /*z-index: 100; /* Higher z-index */
}
.hamburger-menu.sticky {
    background-color: rgba(11, 169, 222, 0.614);;
}
@media (max-width: 768px) {
    .hamburger-menu {
        font-size: 3em; /* Adjust for mobile if needed */
    }
}
/************************
/* Navigation Menu
*************************/
.nav-menu {
    display: none; /*initially hidden */
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust opacity */
    border: 2px solid lightblue;
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
    padding: 20px;
    position: fixed;
    flex-direction: column;
    /*justify-content: center; /* Center content vertically */
    /*align-items: center; /* Center content horizontally */
    top: 60px;
    right: 10px; /* Aligned to the right */
    width: 50vw;
    height: auto;
    z-index: 99; /* Lower z-index */
    border-bottom-left-radius: 10px; /* Adjusted radius */
    border-top-left-radius: 10px; /* Adjusted radius */
}
.nav-menu.show {
    display: flex; /* show when active */
}
/* nav menu text */
.nav-menu a {
    font-family: stabil_grotesk;
    color: white;
    padding: 20px;
    text-decoration: none;
    text-align: left;
    font-size: 1.5em; /* Increase font size */
    padding: 20px; /* Increase padding */
    text-shadow: 0 0 20px rgb(0, 221, 255), /* Bright blue glow */
                0 0 0px rgb(0, 221, 255); /* Slightly less intense blue glow */
}
/* nav menu hover */
.nav-menu a:hover {
    background-color: #555;
}
/*
    Contact Buttons
***********************/
.contact-buttons-wrapper {
    display: flex;
    align-items: center;
}
/*********************
    Contact Window
**********************/
#contactWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust opacity */
    border: 2px solid lightblue;
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
    color: white;
    text-shadow: 0 0 20px rgb(0, 221, 255), /* Bright blue glow */
                0 0 0px rgb(0, 221, 255); /* Slightly less intense blue glow */
    padding: 20px;
    overflow-y: auto;
    z-index: 101; /* Ensure it's on top */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    font-size: 3em;
    background-color: rgb(0, 221, 255);
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

#contactWindow .contact-buttons {
    display: flex;
    justify-content: space-around; /* Evenly space buttons */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

#contactWindow .contact-buttons a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 10px;
}

#contactWindow .contact-buttons .icon-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
}

#contactWindow .contact-buttons i {
    font-size: 1.5em;
    color: lightgreen;
}

@media (max-width: 768px) {
    #contactWindow .contact-buttons i {
        font-size: 3em; /* Adjust for mobile if needed */
    }
}

#contactWindow .contact-buttons .contact-text {
    text-align: center;
    font-size: 0.9em;
    white-space: nowrap;
}
@media (max-width: 768px) {
    #contactWindow .contact-buttons .contact-text {
        font-size: 1em; /* Adjust for mobile if needed */
    }
}

#contactWindow .contact-buttons a:hover .icon-circle,
#contactWindow .contact-buttons a:active .icon-circle,
#contactWindow .contact-buttons a:hover .contact-text,
#contactWindow .contact-buttons a:active .contact-text {
    transform: scale(1.1);
}

/* Tooltips */
#contactWindow [data-tooltip] {
    position: relative;
}

/* nth-child Adjustments for Individual Buttons */
#contactWindow .contact-buttons a:nth-child(1) .icon-circle {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
}

#contactWindow .contact-buttons a:nth-child(1) i {
    color: rgb(36, 36, 218);
}

#contactWindow .contact-buttons a:nth-child(2) .icon-circle {
    background-color: transparent;
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
}

#contactWindow .contact-buttons a:nth-child(2) i {
    color: rgb(255, 255, 255);
}

#contactWindow .contact-buttons a:nth-child(3) .icon-circle {
    background-color: rgb(5, 121, 253);
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
}

#contactWindow .contact-buttons a:nth-child(3) i {
    color: rgb(255, 255, 255);
}
#contactWindow .contact-buttons a:nth-child(3) .icon-circle {
    background-color: rgb(5, 121, 253);
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
}

#contactWindow .contact-buttons a:nth-child(4) i {
    color: rgb(144, 203, 92);
    font-size: 2.5em;
}
@media (max-width: 768px) {
    #contactWindow .contact-buttons a:nth-child(4) i {
        font-size: 4em; /* Adjust for mobile if needed */
    }
}

/* Tooltips/ text that appear on hover
********************************************/
[data-tooltip] {
    position: relative;
}
/* Icon/Menu Hover and active effects
******************************************/
.contact-icon:hover .icon-circle,
.contact-icon:active .icon-circle,
.contact-icon:hover .contact-text,
.contact-icon:active .contact-text,
.hamburger-menu:hover,
.hamburger-menu:active {
    transform: scale(1.1);
}

/* orange glow transparent boxes around header section */
.main-title-container{
        position: absolute;
        padding: 0px; /* Adjust padding as needed */
        width: 100%; /* Full viewport width */
        height: 70px;
        top:0px;
        left:0px;
}
.main-title-container :after, :before {
    box-sizing: border-box;
}

.main-title-container::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust transparency */
    box-shadow: -1px -1px 5px -1px rgb(255, 102, 0), inset -1px -1px 5px -1px rgb(255, 102, 0); /* Orange glow */
    border-bottom: .05px solid rgb(255, 102, 0); /* Add white border */
    border-top: .05px solid rgb(255, 102, 0);
    border-radius: 0px; /* Optional: Add rounded corners */
    z-index: -1; /* Place behind the content */
    background-color: rgba(255, 255, 255, 0.08); /* Opaque white */
}

/* Main Title
*******************/
.main-title {
    font-family: stabil_grotesk;
    font-size: 1.5em;
    color: white;
}
/* Greeting Section */
.greeting-section {
    margin-top: 0px;
    margin-bottom: 40px;
}

.greeting-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    color: white;
    margin-top: 40px;
    min-height: 50vh; /* Ensure it takes at least half the viewport height */
}

/* Greeting Text Block */
.text-block {
    width: 100%; /* Use 100% of the parent's width */
    max-width: 1200px; /* Optional: Limit width on larger screens */
    text-align: left; /* Left align text inside */
    padding: 60px; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding in width */
    margin: 0 auto; /* Center the text block */
}

.text-block h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    font-family: stabil_grotesk;
}

.text-block h3 {
    font-size: 2.2em;
    margin: 5px 0;
    font-family: stabil_grotesk;
    font-weight: normal;
}

.text-block p {
    font-size: 1.7em;
    margin: 0px 0;
    text-align: left;
    font-family: stabil;
    display: block;
}

.jd-name {
    color: #ff6600;
    font-size: 1.2em;
    font-family: stabil_grotesk;
    font-weight: bold;
}

/*******************************
    Contact Me sticky Button
********************************/
.sticky-contact-button {
    /*position: fixed;*/
    margin-top: -0vh; /* Adjust top position as needed */
    margin-left: 35vw; /* Position to the left of the menu button (adjust as needed) */
    z-index: 10; /* Ensure it's above other elements */
}

.sticky-contact-button a {
    text-decoration: none;
    color: rgb(255, 102, 0);
    font-family: stabil_grotesk;
    font-size: 1.7em;
    padding: 10px 20px;
    border: 1px solid rgb(0, 221, 255);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 221, 255);
    transition: transform 0.3s ease;
}

.sticky-contact-button a:hover {
    transform: scale(1.1);
}

/*******************************
 Profile and Stats Container
********************************/

.profile-stats-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    overflow: hidden;
}
.profile-record {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: transparent;
    color: #fff;
    padding: 20px;
    display: flex; /* Use flexbox */
    flex-direction: column;
    align-items: flex-start; /* Align items to the top */
}
.profile-row-1 {
    position: relative;
    display: flex; /* Add flexbox */
    flex-direction: row; /* Ensure row layout */
    justify-content: flex-start; /* Align items to the start */
    align-items: flex-start; /* Align items to the top */
    overflow: hidden;
}

/********************
    profile photo
*********************/
.profile-image {
    width: 100px; /* Keep fixed width */
    height: 100px; /* Keep fixed height */
    flex: 0 0 auto;
    margin-right: 20px;
    padding: 10px;
    position: relative;

 }

#profileImage{
    position: absolute;
    max-width: 100px; /* can not Adjust defined in js */
    height: auto;
    display: block;
    margin: 0;
    transition: opacity 0.5s ease;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust transparency */
    box-shadow: 0 0 10px 1px rgb(255, 102, 0),
                inset 0 0 3px .5px rgb(255, 102, 0); /* Orange glow */
    border: .05px solid rgb(255, 255, 255); /* Add white border */
}

/*************************
    profile photo switch
**************************/
#profileImage2 {
    position: absolute;
    max-width: 100px; /* can not Adjust defined in js */
    height: auto;
    display: block;
    margin: 0;
    transition: opacity 0.5s ease;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust transparency */
    box-shadow: 0 0 10px 1px rgb(255, 102, 0),
                inset 0 0 3px .5px rgb(255, 102, 0); /* Orange glow */
    border: .05px solid rgb(255, 255, 255); /* Add white border */
}

#profileImage2 {
    transform: scaleX(-1);
    opacity: 0;
}

/* profile photo glow */
#profileImage.glowing,
#profileImage2.glowing {
    filter: drop-shadow(0 0 5px rgb(255, 102, 0)); /* Glow along transparency */
    transform: scale(1.05); /* Adjusted scale */
}
/* Stats Block 1 */
.stats-block1 {
    position: relative;/* required for absolute of overlay */
    overflow: hidden;
    border: 0.5px solid lightblue;
    border-radius: 4px;
    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    padding: 10px;
    margin-bottom: 20px;
    text-align: left; /* Left align text */
    flex-grow: 1; /* Allow stats-block2 to expand */
    width: 230px;
    min-width: 230px;
    min-height: 200px;
    height: 200px;
}
/* Intro/Tech Block Overlay */
.profile-row-1 .overlay-window.intro-tech { /* More specific selector */
    position: absolute; /* requires to overlap other items */
    left: 120px; /* Final horizontal position on the left */
    min-width: 230px;
    width: 230px;
    min-height: 201px;
    height: 201px;
    z-index: 10;
    transition: transform .7s ease-in-out 0.1s, opacity 0.7s ease-in-out 0.1s; /* Transition only the transform */
    padding: 10px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    border: 0.5px solid lightblue;
    border-radius: 4px;
    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.1);
    transform: translateX(200%); /* Start off-screen to the right */
    overflow: hidden;
    visibility: hidden; /* Initially hidden */
    display: flex;
    flex-direction: column; /* Stack the buttons vertically */
    align-items: center;
}

/* Intro/Tech Block Show Overlay */
.profile-row-1 .overlay-window.intro-tech.show { /* More specific selector */
    transform: translateX(0px); /* Slide to its final 'left: 120px' position */
    visibility: visible;
}

.overlay-window.intro-tech button {
    width: 70%;
    padding: 10px 10px;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 0.9em;
    text-align: center;
    text-shadow: 0 0 10px rgb(0, 221, 255);
    border: 0.5px solid lightblue;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgb(0, 221, 255); /* Add the glow shadow to the buttons */
    transition: box-shadow 0.2s ease-in-out; /* Optional: Smooth transition for the glow */
}

.overlay-window.intro-tech button:hover {
    background-color: rgb(0, 180, 220);
    box-shadow: 0 0 15px rgb(0, 221, 255); /* Slightly stronger glow on hover */
}

/* Row 2 */
.profile-row-2 {
    display: flex;
    flex-direction: row; /* Ensure row layout */
    align-items: flex-start; /* Align items to the top */
}
/* Container for Fingerprint and Retina Blocks */
.stats-images {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    border-radius: 4px;
}
/* Fingerprint Block Image */
.fingerprint-image {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border: 0.5px solid lightblue;
    border-radius: 4px;
    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    margin-bottom: 10px;
}
.profile-record .fingerprint-image {
    display: none;
}
.profile-record.expanded .fingerprint-image {
    display: block;
}
/* Fingerprint Block Overlay */
.overlay-window.fingerprint-overlay {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 0.5px solid lightblue;
    border-radius: 4px;
    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-200%); /* Start off-screen to the LEFT */
    transition: transform 0.7s ease-in-out 0.1s, opacity 0.7s ease-in-out 0.1s; /* Add a delay to start after intro-tech */
    box-sizing: border-box;
    padding: 20px;
    visibility: hidden; /* Initially hidden */
    z-index: 10;
}

.overlay-window.fingerprint-overlay button {
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    text-shadow: 0 0 10px rgb(0, 221, 255);
    border: 0.5px solid lightblue;
    border-radius: 4px;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgb(0, 221, 255); /* Add the glow shadow to the buttons */
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.overlay-window.fingerprint-overlay button:hover {
    background-color: rgb(0, 180, 220);
    box-shadow: 0 0 15px rgb(0, 221, 255);
}

/* Fingerprint Block Show Overlay */
.overlay-window.fingerprint-overlay.show {
    transform: translateX(0px);
    visibility: visible;
}

/* Retina Block */
.profile-record .retina-image {
    display: none;
}
.profile-record.expanded .retina-image {
    display: block;
}
/* Retina Block Image  */
.retina-image {
    position: relative;
    overflow: hidden;
    width: 100px; /* Or your desired width */
    height: 100px; /* Or your desired height */
    border: 0.5px solid lightblue;
    border-radius: 4px;
    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    cursor: pointer;
    /*margin-left: 10px; /* Add some spacing between the images */
    /* Add any other styling for the retina image placeholder */
}

/* Retina Block Overlay */
.overlay-window.retina-overlay {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 350px;
    border: 0.5px solid lightblue;
    border-radius: 4px;
    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-200%); /* Start off-screen to the LEFT */
    /* Transition with a longer delay to start after fingerprint */
    transition: transform 0.7s ease-in-out 0.3s, opacity 0.7s ease-in-out 0.3s; /* Assuming fingerprint is 0.7s */
    box-sizing: border-box;
    padding: 20px;
    visibility: hidden; /* Initially hidden */
    z-index: 10;
}

.overlay-window.retina-overlay button {
    padding: 10px 20px;
    color: white;
    text-shadow: 0 0 10px rgb(0, 221, 255);
    border: 0.5px solid lightblue;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgb(0, 221, 255); /* Add the glow shadow to the buttons */
    cursor: pointer;
    font-size: 1em;
    box-shadow: 0 0 10px rgb(0, 221, 255);
    transition: background-color 0..6s ease-in-out, box-shadow 0.6s ease-in-out;
}

.overlay-window.retina-overlay button:hover {
    background-color: rgb(0, 180, 220);
    box-shadow: 0 0 15px rgb(0, 221, 255);
}

/* Retina Block Show Overlay */
.overlay-window.retina-overlay.show {
    transform: translateX(0);
    visibility: visible;
}
/* Stats Block 2 */
.stats-block2 {
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-around;
    border: 0.5px solid lightblue;
    border-radius: 4px;
    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    padding: 10px;
    margin-bottom: 20px;
    flex-grow: 1; /* Allow stats-block2 to expand */
    min-width: 230px; /* Set max width */
    width: 230px;
    min-height: 355px;
    height: 355px;
    color: white;
}
.profile-record .stats-block2 {
    display: none;
}
.profile-record.expanded .stats-block2 {
    display: flex;
}

.stats-block2 ul {
    padding: 10px;
}

.stats-block2 li {
    margin-bottom: 5px;
}
/* Stats Block 2 Overlay */
.overlay-window.stats2-overlay {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 140px;
    min-width:230px;
    width: 230px;
    min-height: 355px;
    height: 355px;
    border: 0.5px solid lightblue;
    border-radius: 4px;
    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateX(200%); /* Start from the RIGHT */
    /* Transition to start after retina (assuming retina is 0.7s) */
    transition: transform 0.7s ease-in-out 0.9s, opacity 0.7s ease-in-out 0.9s;
    box-sizing: border-box;
    padding: 20px;
    z-index: 12;
}

.overlay-window.stats2-overlay button {
    width: 70%;
    padding: 10px 10px;
    color: white;
    text-shadow: 0 0 10px rgb(0, 221, 255);
    border: 0.5px solid lightblue;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgb(0, 221, 255); /* Add the glow shadow to the buttons */
    cursor: pointer;
    font-size: 1em;
    box-shadow: 0 0 10px rgb(0, 221, 255);
    margin: 5px 0;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
/* Style for the "Projects" button in stats2-overlay */
.overlay-window.stats2-overlay button:first-child {
    box-shadow: 0 0 10px oliveDrab; /* Olive drab box shadow */
    text-shadow: 1px 1px 2px oliveDrab; /* Olive drab text shadow */
    color: rgb(255, 102, 0);
}

.overlay-window.stats2-overlay button:hover {
    background-color: rgb(0, 180, 220);
    box-shadow: 0 0 15px rgb(0, 221, 255);
}
/* Stats Block 2 Show Overlay */
.overlay-window.stats2-overlay.show {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
}

/* Stats Block 3 */
.stats-block3 {
    position: relative;
    overflow: hidden;
    border: 0.5px solid lightblue;
    border-radius: 4px;
    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    color: white;
    padding: 10px;
    min-width: 352px; /* Set max width */
    width: 352px;
    min-height: 175px;
    height: 175px;
}
.profile-record .stats-block3 {
    display: none;
}
.profile-record.expanded .stats-block3 {
    display: block;
}

.stats-block3 ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}
/* Stats Block 3 Overlay */
.overlay-window.stats3-overlay {
    position: absolute;
    top: 615px;
    width: 353px;
    min-width: 353px;
    height: 175px;
    min-height: 175px;
    border: 0.5px solid lightblue;
    border-radius: 4px;
    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255, 102, 0);
    text-shadow: 0 0 10px rgb(255, 102, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(200%); /* Start from the BOTTOM */
    /* Transition to start after statsBlock3 lands (assuming it has a 0.7s animation) */
    transition: transform 0.7s ease-in-out 1.2s, opacity 0.7s ease-in-out 1.2s;
    box-sizing: border-box;
    padding: 20px;
    visibility: hidden;
    z-index: 12;
}

.overlay-window.stats3-overlay p {
    font-size: 1.5em;
    text-align: center;
}
/* Stats Block 3 Show Overlay */
.overlay-window.stats3-overlay.show {
    transform: translateY(0);
    visibility: visible;
}
/* Stats Expand Button */ 
.expand-button-container {
    position:relative ;
    overflow: hidden;
    border: 0.5px solid lightblue;
    border-radius: 4px;
    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    background-color: transparent;
    padding: 10px;
    width: 260px;
    align-items: center;
    text-align: left; /* Center the button */
    top: -38px; /* Adjust top value */
    left: 70px; /* Adjust left value */
    z-index: 20;
}
.profile-record .expand-button-container {
    display: block;
}
.profile-record.expanded .expand-button-container {
    display: none;
}

.expand-button button {
    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    background-color: transparent;
    backdrop-filter: blur(5px);
    color: rgb(255, 102, 0);
    text-shadow: 0 0 10px rgb(255, 102, 0);
    border: 0.5px solid white;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5em;
    width: 239px;
    z-index: 12;
}
/* Stats collapse Button */ 
.collapse-button-container {
    position: relative;
    align-items: center;
    border: 0.5px solid lightblue;
    border-radius: 4px;
    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    background-color: transparent;
    padding: 10px;
    width: 170px;
    text-align: left; /* Center the button */
    top: -15px; /* Adjust top value */
    left: 215px; /* Adjust left value */
    z-index: 12;
}
.profile-record .collapse-button-container {
    display: none;
}
.profile-record.expanded .collapse-button-container {
    display: block;
}
.collapse-button button {
    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    background-color: rgb(0, 221, 255);
    color: white;
    border: 0.5px solid white;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5em;
    min-width: 150px;
    top: 100px; /* Adjust top value */
    left: 100px;
    z-index: 12;
}
/* Stats Overlay */

/*
    Intro Text 
******************/
.intro-text {
    flex: 1 0 100%;
    text-align: left;
    padding: 35px;
    color: white;
    font-family: stabil_grotesk, sans-serif;
    font-size: 1.125em;
    letter-spacing: 2px;
    line-height: 1.5em;
    margin-top: 300px;
    /*margin-left: 40px;*/
    /*width: 100%; /* Stretch across full width */
    box-sizing: border-box;
    /* Remove max-width and margin: 0 auto; */
}
.intro-text p {
    flex: 1 0 100%;
    text-align: left;
    padding: 20px;
    color: white;
    font-family: stabil_grotesk, sans-serif;
    font-size: 1.125em;
    letter-spacing: 2px;
    line-height: 1.5em;
    /*margin-top: 20px;*/
    /*margin-left: 40px;*/
    /*width: 100%; /* Stretch across full width */
    box-sizing: border-box;
    /* Remove max-width and margin: 0 auto; */
}

/* bullet for intro text */
.intro-text ul {
    margin-left: 40px; /* Add some left margin for indentation */
    padding-left: 0; /* Remove default padding */
}

.intro-text li {
    margin-bottom: 5px; /* Add some spacing between list items */
}

/****************
    sections
*****************/

/* Technologies I Use
*************************/
#technologies-i-use {
    display: flex;
    flex-direction: column; /* Or row, depending on your content */
    align-items: center; /* Example: Center items horizontally */
    justify-content: center; /* Example: Center items vertically */
    position: relative;
    overflow: hidden;
    min-height: 412px;
    min-width: 412px;
    padding: 20px;
    box-sizing: border-box;
    width: 90%;
    margin: 20px auto;
}

.section-container {
    position: relative; /* For positioning other elements within */
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

/* CSS for the background image container */
.background-image-container {
    position: relative; /* Or relative, depending on your layout needs */
    top: 0;
    left: 0;
    width: 100%; /* Or a specific width */
    height: 100%; /* Or a specific height */
    overflow: hidden; /* Clip the image if it extends beyond the container */
    z-index: -1; /* Place it behind other content within the section */
}

/* Initial state of the background image */
.background-image {
    /*position: absolute;*/
    opacity: 0; /* Initially hidden */
    object-position: center center;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Scale the image to cover the container */
    transition: opacity 2s ease, transform 1.5s ease; /* For a smooth fade/grow if you add transform */
    transform: scale(0); /* Optional: Start slightly smaller for a grow effect */
    z-index: -1;
}

/* Style when the 'visible' class is added (triggered by JavaScript) */
.background-image.visible {
    opacity: 1;
    transform: scale(1); /* Grow to full size (if you used an initial scale) */
}

.technologies-slide-in-window {
    position: absolute;
    left: -200%;
    width: 90%;
    /*max-width: 500px;*/
    /*height: 100%;*/
    min-height: 300px;
    border: 0.5px solid lightblue;
    border-radius: 4px;
    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    /*backdrop-filter: blur(5px);*/
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.5s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
}

.technologies-slide-in-window.visible {
    top: 200px;
    left: 20px;
}
/******************
    top divider
*******************/
.title-flex-wrapper { /* Divider Box */
    margin-top: 0;
    display: flex;
    align-items: left;
    justify-content: left;
    position: absolute;
    left: 10%;
    width: 100%;
    top: 0;
}
.divider { /* Divider object */
    height: 2px;
    width: 95%;
    margin: auto;
    background-color: grey;
    z-index: 2;
    margin-top: 30px;
    margin-left: -15px;
    position: relative;
    transform: translateX(-100%); /* Start off-screen to the left */
    opacity: 0;
    transition: transform 0.7s ease-out, opacity 0.7s ease-out; /* Slide in with window */
}
.divider.slide-in {
    transform: translateX(0); /* Slide into view */
    opacity: 1;
}
#technologies-i-use .top-divider { /* Top Divider (Black Background Sections) */
    background-color: rgb(172, 238, 255);
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
}

/******************************************
    Autotyping Title above each Section
*******************************************/
section span.animated-title {
    margin-top: 4px;
    position: absolute;
    top: 87%;
    left: 10%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-family: "Colossalis", arial, sans-serif;
    line-height: 1;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    top: 0px;
    z-index: 2; /* Ensure it's above the divider */
    color: rgb(0, 46, 53);
    text-shadow: 0 0 8px rgb(0, 221, 255), /* Bright blue glow */
                 0 0 2px rgb(0, 221, 255); /* Slightly less intense blue glow */
    overflow: hidden; /* Hide typing cursor initially */
}


@media (max-width: 768px) {
    .animated-title {
        font-size: 1.5em; /* Smaller size for smaller screens */
    }
}

/*********************
    Title Backing
**********************/
/* Title Backing White Background */
#technologies-i-use .title-background {
    background-color: white;
    color: black;
}
/* Title Backing Object */
.title-background {
    position: absolute;
    left: -100%; /* Start off-screen to the left */
    z-index: 1; /* Place behind divider and autotyping */
    border-radius: 15px;
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 9%, black 13%, black, rgba(0, 0, 0, 0)); /* Gradient mask */
    top: 50%; /* Vertically center */
    height: auto; /* Adjust as needed */
    width: auto; /* Adjust as needed */
    transform: translateY(-50%);
    opacity: 0;
    transition: left 0.7s ease-out, opacity 0.7s ease-out; /* Slide in with window */
}
.title-background.slide-in {
    left: 5%; /* Adjust to the desired final left position */
    opacity: 1;
}

.technology-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    margin-top: 50px;
}

.technology-categories a {
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.4em;
    color: rgb(210, 247, 252);
    text-shadow: 0 0 10px rgb(0, 221, 255);
    border: 0.5px solid lightblue;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 102, 0, 0.318);
    box-shadow: 0 0 10px rgb(0, 221, 255); /* Add the glow shadow to the buttons */
    /* Style your links */
}
/* Frontend Popup */
#frontendDetailsPopup {
    position: absolute; /* Position within its parent (.technologies-slide-in-window) */
    top: 50%;
    left: -100%; /* Start off-screen to the left */
    transform: translateY(-50%); /* Center vertically within its parent */
    width: 94%; /* Adjust width relative to its parent */
    max-width: 600px;
    height: auto;
    background-color: rgba(131, 239, 255, 0.262);
    border: 0.5px solid lightblue;
    border-radius: 4px;
    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    backdrop-filter: blur(5px);
    color: white;
    padding: 25px;
    box-sizing: border-box;
    z-index: 2; /* Ensure it's above the main slide-in window content */
    opacity: 0;
    visibility: hidden;
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#frontendDetailsPopup.open {
    left: 5%; /* Slide into view (adjust as needed within the parent) */
    opacity: 1;
    visibility: visible;
}

#frontendDetailsPopup .details-content {
    width: 100%;
    max-height: 70vh;
    overflow-y: auto;
    text-align: center;
    position: relative; /* For close button */
}

#frontendDetailsPopup .close-button {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 20px;
    height: 20px;
    font-size: 1.5em;
    background-color: rgb(0, 221, 255);
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

#frontendDetailsPopup h3 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 1.8em;
    color: white;
    text-shadow: 0 0 10px rgb(0, 221, 255);
}

#frontendDetailsPopup .technology-icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;

}

#frontendDetailsPopup .tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#frontendDetailsPopup .tech-item img {
    width: 50px; /* Adjust icon size */
    height: 50px; /* Adjust icon size */
    margin-bottom: 5px;
    /* Add any other image styling */
}

#frontendDetailsPopup .tech-label {
    font-size: 1.2em; /* Adjust label size */
    color: white; /* Style the label text */
}
/* Backend Popup */
#backendDetailsPopup {
    position: absolute; /* Position within its parent */
    top: 50%;
    left: -100%; /* Start off-screen to the left */
    transform: translateY(-50%); /* Center vertically within its parent */
    width: 85vw; /* Adjust width as needed */
    max-width: 650px; /* Optional: Maximum width */
    height: auto;
    background-color: rgba(131, 239, 255, 0.262);
    border: 0.5px solid lightblue;
    border-radius: 4px;
    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    backdrop-filter: blur(5px);
    color: white;
    padding: 25px; /* Adjust padding as needed */
    box-sizing: border-box;
    z-index: 2; /* Ensure it's above the main slide-in window content */
    opacity: 0;
    visibility: hidden;
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#backendDetailsPopup.open {
    left: 5%; /* Slide into view (adjust as needed) */
    opacity: 1;
    visibility: visible;
}

#backendDetailsPopup .details-content {
    width: 100%;
    max-height: 70vh;
    overflow-y: auto;
    text-align: center;
    position: relative; /* For close button positioning */
    padding: 15px; /* Adjust padding as needed */
}

#backendDetailsPopup .close-button {
    position: absolute;
    top: 5px; /* Adjust as needed */
    right: 5px; /* Adjust as needed */
    width: 20px;
    height: 20px;
    font-size: 1.5em;
    background-color: rgb(0, 221, 255);
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    z-index: 3;
}

#backendDetailsPopup h3 {
    margin-bottom: 15px;
    font-size: 1.8em;
    color: white;
    text-shadow: 0 0 10px rgb(0, 221, 255);
    padding-top: 0; /* Reset top padding */
}

#backendDetailsPopup .technology-icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

#backendDetailsPopup .tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#backendDetailsPopup .tech-item img {
    width: 50px; /* Adjust icon size */
    height: 50px; /* Adjust icon size */
    margin-bottom: 5px;
}

#backendDetailsPopup .tech-label {
    font-size: 1.2em; /* Adjust label size */
    color: white;
}
/* CSS for the Database Technology Popup */
#databaseDetailsPopup {
    /* Inherits most styles from #frontendDetailsPopup */
    position: absolute;
    top: 50%;
    left: -100%;
    transform: translateY(-50%);
    width: 85vw;
    max-width: 650px;
    height: auto;
    background-color: rgba(131, 239, 255, 0.262);
    border: 0.5px solid lightblue;
    border-radius: 4px;
    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    backdrop-filter: blur(5px);
    color: white;
    padding: 25px; /* Adjust padding as needed */
    box-sizing: border-box;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#databaseDetailsPopup.open {
    left: 5%;
    opacity: 1;
    visibility: visible;
}

#databaseDetailsPopup .details-content {
    width: 100%;
    max-height: 70vh;
    overflow-y: auto;
    text-align: center;
    position: relative;
    padding: 15px;
}

#databaseDetailsPopup .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    font-size: 1.5em;
    background-color: rgb(0, 221, 255);
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    z-index: 3;
}

#databaseDetailsPopup h3 {
    margin-bottom: 15px;
    font-size: 1.8em;
    color: white;
    text-shadow: 0 0 10px rgb(0, 221, 255);
    padding-top: 0;
}

#databaseDetailsPopup .technology-icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

#databaseDetailsPopup .tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#databaseDetailsPopup .tech-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

#databaseDetailsPopup .tech-label {
    font-size: 1.2em;
    color: white;
}

/* CSS for the Source/Version Control Technology Popup */
#sourceControlDetailsPopup {
    /* Inherits most styles from #frontendDetailsPopup */
    position: absolute;
    top: 50%;
    left: -100%;
    transform: translateY(-50%);
    width: 85vw;
    max-width: 650px;
    height: auto;
    background-color: rgba(131, 239, 255, 0.262);
    border: 0.5px solid lightblue;
    border-radius: 4px;
    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    backdrop-filter: blur(5px);
    color: white;
    padding: 25px; /* Adjust padding as needed */
    box-sizing: border-box;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sourceControlDetailsPopup.open {
    left: 5%;
    opacity: 1;
    visibility: visible;
}

#sourceControlDetailsPopup .details-content {
    width: 100%;
    max-height: 70vh;
    overflow-y: auto;
    text-align: center;
    position: relative;
    padding: 15px;
}

#sourceControlDetailsPopup .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    font-size: 1.5em;
    background-color: rgb(0, 221, 255);
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    z-index: 3;
}

#sourceControlDetailsPopup h3 {
    margin-bottom: 15px;
    font-size: 1.8em;
    color: white;
    text-shadow: 0 0 10px rgb(0, 221, 255);
    padding-top: 0;
}

#sourceControlDetailsPopup .technology-icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

#sourceControlDetailsPopup .tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#sourceControlDetailsPopup .tech-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

#sourceControlDetailsPopup .tech-label {
    font-size: 1.2em;
    color: white;
}

/* CSS for the Application Development Technology Popup */
#applicationDevelopmentDetailsPopup {
    /* Inherits most styles from #frontendDetailsPopup */
    position: absolute;
    top: 50%;
    left: -100%;
    transform: translateY(-50%);
    width: 85vw;
    max-width: 650px;
    height: auto;
    background-color: rgba(131, 239, 255, 0.262);
    border: 0.5px solid lightblue;
    border-radius: 4px;
    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    backdrop-filter: blur(5px);
    color: white;
    padding: 25px; /* Adjust padding as needed */
    box-sizing: border-box;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#applicationDevelopmentDetailsPopup.open {
    left: 5%;
    opacity: 1;
    visibility: visible;
}

#applicationDevelopmentDetailsPopup .details-content {
    width: 100%;
    max-height: 70vh;
    overflow-y: auto;
    text-align: center;
    position: relative;
    padding: 15px;
}

#applicationDevelopmentDetailsPopup .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    font-size: 1.5em;
    background-color: rgb(0, 221, 255);
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    z-index: 3;
}

#applicationDevelopmentDetailsPopup h3 {
    margin-bottom: 15px;
    font-size: 1.8em;
    color: white;
    text-shadow: 0 0 10px rgb(0, 221, 255);
    padding-top: 0;
}

#applicationDevelopmentDetailsPopup .technology-icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

#applicationDevelopmentDetailsPopup .tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#applicationDevelopmentDetailsPopup .tech-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

#applicationDevelopmentDetailsPopup .tech-label {
    font-size: 1.2em;
    color: white;
}

/* CSS for the Cloud Technology Popup */
#cloudDetailsPopup {
    /* Inherits most styles from #frontendDetailsPopup */
    position: absolute;
    top: 50%;
    left: -100%;
    transform: translateY(-50%);
    width: 85vw;
    max-width: 650px;
    height: auto;
    background-color: rgba(131, 239, 255, 0.262);
    border: 0.5px solid lightblue;
    border-radius: 4px;
    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    backdrop-filter: blur(5px);
    color: white;
    padding: 25px; /* Adjust padding as needed */
    box-sizing: border-box;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cloudDetailsPopup.open {
    left: 5%;
    opacity: 1;
    visibility: visible;
}

#cloudDetailsPopup .details-content {
    width: 100%;
    max-height: 70vh;
    overflow-y: auto;
    text-align: center;
    position: relative;
    padding: 15px;
}

#cloudDetailsPopup .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    font-size: 1.5em;
    background-color: rgb(0, 221, 255);
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    z-index: 3;
}

#cloudDetailsPopup h3 {
    margin-bottom: 15px;
    font-size: 1.8em;
    color: white;
    text-shadow: 0 0 10px rgb(0, 221, 255);
    padding-top: 0;
}

#cloudDetailsPopup .technology-icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

#cloudDetailsPopup .tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#cloudDetailsPopup .tech-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

#cloudDetailsPopup .tech-label {
    font-size: 1.2em;
    color: white;
}

/* projects box
********************/
#projects {
    position: relative;

    padding: 20px; /*60px changed to test*/
    margin: 0 auto;
    margin-top: 20px;/*680px changed to test*/

    box-sizing: border-box;
    min-height: 200px;
    /*max-width: 1200px;*/
    max-width: 95%;
    max-height: 1000px;

    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    border-radius: 3px;

    display: flex;
    flex-direction: column;
}
/* resume box
******************/
#resume {
    position: relative;

    padding: 20px; /*adjusts text from borders */
    margin: 0 auto;
    margin-top: 20px;

    box-sizing: border-box;
    min-height: 200px;
    /*max-width: 1200px;*/
    max-width: 95%;
    max-height: 1000px;

    border-radius: 3px;
    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);

    display: flex;
    flex-direction: column;
}
/* bio box
***************/
#bio {
    position: relative;

    padding: 20px; /*adjusts text from borders */
    margin: 0 auto;
    margin-top: 20px;


    box-sizing: border-box;
    min-height: 200px;
    /*max-width: 1200px;*/
    max-width: 95%;
    max-height: 1000px;

    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    border-radius: 3px;

    display: flex;
    flex-direction: column;
}

/******************
    top divider
*******************/
.title-flex-wrapper {  /* Divider Box */
    margin-top: 0;
    display: flex;
    align-items: left;
    justify-content: left;
    position: absolute;
    width: 100%;
    top: 0;
}
.divider { /* Divider object */
    height: 2px;
    width: 95%;
    margin: auto;
    background-color: grey;
    z-index: 2;
    margin-top: 30px;
    margin-left: -15px;
    position: relative;
}
.top-divider {  /* Top Divider Object */
    background-color: white;
}
#technologies-i-use .top-divider,   /* Top Divider (Black Background Sections) */
#resume .top-divider {
    background-color: rgb(172, 238, 255);
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
}
#projects .top-divider, /* Top Divider (White Background Sections) */
#bio .top-divider {
    background-color: rgb(172, 238, 255);
    box-shadow: 0 0 10px 1.5px rgb(0, 221, 255);
}


/******************************************
    Autotyping Title above each Section
*******************************************/
section span.animated-title {
    margin-top: 4px;
    position: absolute;
    top: 87%;
    left: 10%;
    transform: translate(-50%, -50%);
}

/* Autotype White Background Sections
******************************************/
#resume .animated-title{
    color: rgb(0, 221, 255);
    background-color: rgba(254, 254, 254, 0.871);
    text-shadow: 0 0 8px rgb(0, 221, 255), /* Bright blue glow */
                0 0 2px rgb(0, 221, 255); /* Slightly less intense blue glow */

}
/* Autotype Black Background Sections
******************************************/
#projects .animated-title,
#bio .animated-title{
    color: rgb(0, 221, 255);
    background-color: rgba(0, 0, 0, 0.943);
    text-shadow: 0 0 8px rgb(0, 221, 255), /* Bright blue glow */
                0 0 2px rgb(0, 221, 255); /* Slightly less intense blue glow */
}
/* adjust left for animated title spacing
***********************************************/
#technologies-i-use span.animated-title{
    left: 40%;
}
#projects span.animated-title{
    left: 11%;
}
#resume span.animated-title{
    left: 9%;
}
#bio span.animated-title{
    left: 6%;
}

/*********************
    Title Backing
**********************/
/* Title Backing Box for Sections
**************************************/
.title-effects-wrapper {
    position: relative; /* Needed for positioning */
    display: inline-block; /* To contain the background */
    padding: 15px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Optional: for rounded corners */
}
/* Title Backing White Background
**************************************/
#technologies-i-use .title-background,
#resume .title-background {
    background-color: white;
    color: black;
}
/* Title Backing Black Background
**************************************/
#projects .title-background,
#bio .title-background {
    background-color: black;
    color: white;
}
/* Title Backing Object
**************************************/
.title-background {
    position: absolute;
    left:200px;
    z-index: 1; /* Place behind divider and autotyping */
    border-radius: 15px;
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 9%, black 13%, black, rgba(0, 0, 0, 0)); /* Gradient mask */
}
/* Title Backing Glow Effect
**************************************/
.title-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(100px); /* Adjust blur as needed */
    z-index: 1; /* Place behind background */
    /*opacity: 0.7; /* Adjust opacity as needed */

}

/**************************
    Section Backgrounds
***************************/
/* Background Containers for Sections
******************************************/

/* Background Control All Sections
***************************************/

/***********************************
    Section Content Text Control
************************************/

/* Sections h2
******************/
#technologies-i-use h2 {
    font-family: "Colossalis"!important;
    font-size: 1.5em;
    letter-spacing:2px;
    line-height: 28.8px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 15px rgb(0, 221, 255), /* Bright blue glow */
                0 0 15px rgb(0, 221, 255); /* Slightly less intense blue glow */
}
#projects h2 {
    font-family: "Colossalis"!important;
    font-size: 5em;
    letter-spacing:2px;
    line-height: 28.8px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 15px rgb(0, 221, 255), /* Bright blue glow */
                0 0 15px rgb(0, 221, 255); /* Slightly less intense blue glow */
}
#resume h2 {
    font-family: "Colossalis"!important;
    font-size: 1.5px;
    letter-spacing:2px;
    line-height: 1.5em;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 15px rgb(0, 221, 255), /* Bright blue glow */
                0 0 15px rgb(0, 221, 255); /* Slightly less intense blue glow */
}
#bio h2 {
    font-family: "Colossalis"!important;
    font-size: 1.5em;
    letter-spacing:2px;
    line-height: 1.5em;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 15px rgb(0, 221, 255), /* Bright blue glow */
                0 0 15px rgb(0, 221, 255); /* Slightly less intense blue glow */
}


/* Sections p
******************/
#technologies-i-use p {
    font-size: 1.125em;
    font-family: "Helvetica"!important;
    font-weight: 300;
    line-height: 1.5em;
    text-shadow: 0 0 20px rgb(0, 221, 255), /* Bright blue glow */
                0 0 0px rgb(0, 221, 255); /* Slightly less intense blue glow */
}
#projects p {
    font-size: 1.125em;
    font-family: "Helvetica"!important;
    font-weight: 300;
    line-height: 1.5em;
    text-shadow: 0 0 20px rgb(0, 221, 255), /* Bright blue glow */
                0 0 0px rgb(0, 221, 255); /* Slightly less intense blue glow */
}
#resume p {
    font-size: 1.125em;
    font-family: "Helvetica"!important;
    font-weight: 300;
    line-height: 1.5em;
    text-shadow: 0 0 20px rgb(0, 221, 255), /* Bright blue glow */
                0 0 0px rgb(0, 221, 255); /* Slightly less intense blue glow */
}
#bio p {
    font-size: 1.125em;
    font-family: "Helvetica"!important;
    font-weight: 300;
    line-height: 1.5em;
    text-shadow: 0 0 20px rgb(0, 221, 255), /* Bright blue glow */
                0 0 0px rgb(0, 221, 255); /* Slightly less intense blue glow */
}

/* Prevent Zooming */
@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
    body {
        font-size: 10px; /* Adjust font size for mobile */
    }
}

/* Mobile Font Size Adjustments */
@media (max-width: 768px) {
    .overlay-window.intro-tech button,
    .overlay-window.fingerprint-overlay button,
    .overlay-window.retina-overlay button,
    .overlay-window.stats2-overlay button {
        font-size: 1.2em; /* Increase button font size for mobile */
    }

    .overlay-window.stats3-overlay p {
        font-size: 1.8em; /* Increase "Portfolio Contents" font size for mobile */
    }
}

/* Smaller Mobile Devices */
@media (max-width: 480px) {
    .overlay-window.intro-tech button,
    .overlay-window.fingerprint-overlay button,
    .overlay-window.retina-overlay button,
    .overlay-window.stats2-overlay button {
        font-size: 1.4em; /* Further increase for smaller screens */
         /* Adjust padding if needed */
    }

    .overlay-window.stats3-overlay p {
        font-size: 2em; /* Further increase for smaller screens */
    }
}

/* Media Queries for Mobile */
/*@media (width: 768px) {
    .greeting-content {
        flex-direction: column; /* Stack vertically on smaller screens */
/* align-items: center; /* Center content */
/* }

    .image-block {
        /*width: 80%; /* Adjust image block width for smaller screens */
/* margin: 20px ; /* Center image block */
        /*margin-right: 0;
    }

    .text-block {
        margin-right: 0; /* Remove right margin on mobile */
/* }
}*/