/************************************************/
/* Portfolio Page CSS              */
/************************************************/
/*
    Author: John-David A. Amador
    Date:   March 2025
*/
/************************************************/
/* background
********************/
body {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    font-size: 16px;

}
/*
    header/ page top
************************/
header {
    padding: 10px; /* Reduce padding for mobile */
}

.container {
    display: flex;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: column; /* Stack header content vertically */
    align-items: center; /* Center align content */
}

.header-content h1 {
    white-space: nowrap; /* Prevent title from wrapping */
    font-size: 1.75em; /* Adjust font size */
    margin: 10px 10px; /* Adjust margins */
}

/*
    Hamburger Menu
***********************/
.hamburger-container {
    position: fixed; /* Fixed positioning */
    top: 10px;
    right: 10px; /* Moved to the right */
    z-index: 100; /* Higher z-index */
}
.hamburger-menu {
    background-color: black;
    border-radius: 90%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightblue;
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
    font-size: 2em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: 1;
    position: fixed; /* Fixed positioning */
    /*top: 20px;
    right: 20px; /* Moved to the right */
    /*z-index: 100; /* Higher z-index */
}
.hamburger-menu.sticky {
    background-color: rgba(11, 169, 222, 0.614);;
}
@media (max-width: 768px) {
    .hamburger-menu {
        font-size: 3em; /* Adjust for mobile if needed */
    }
}
/************************
/* Navigation Menu
*************************/
.nav-menu {
    display: none; /*initially hidden */
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust opacity */
    border: 2px solid lightblue;
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
    padding: 20px;
    position: fixed;
    flex-direction: column;
    /*justify-content: center; /* Center content vertically */
    /*align-items: center; /* Center content horizontally */
    top: 60px;
    right: 10px; /* Aligned to the right */
    width: auto;
    height: auto;
    z-index: 99; /* Lower z-index */
    border-bottom-left-radius: 10px; /* Adjusted radius */
    border-top-left-radius: 10px; /* Adjusted radius */
}
.nav-menu.show {
    display: flex; /* show when active */
}
/* nav menu text */
.nav-menu a {
    font-family: stabil_grotesk;
    color: white;
    padding: 20px;
    text-decoration: none;
    text-align: left;
    font-size: 1.5em; /* Increase font size */
    padding: 20px; /* Increase padding */
    text-shadow: 0 0 20px rgb(0, 221, 255), /* Bright blue glow */
                0 0 0px rgb(0, 221, 255); /* Slightly less intense blue glow */
}
/* nav menu hover */
.nav-menu a:hover {
    background-color: #555;
}
/*
    Contact Buttons
***********************/
.contact-buttons-wrapper {
    display: flex;
    align-items: center;
}
/*********************
    Contact Window
**********************/
#contactWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85vw;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust opacity */
    border: 2px solid lightblue;
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
    color: white;
    text-shadow: 0 0 20px rgb(0, 221, 255), /* Bright blue glow */
                0 0 0px rgb(0, 221, 255); /* Slightly less intense blue glow */
    padding: 20px;
    overflow-y: auto;
    z-index: 101; /* Ensure it's on top */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    font-size: 3em;
    background-color: rgb(0, 221, 255);
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

#contactWindow .contact-buttons {
    display: flex;
    justify-content: space-around; /* Evenly space buttons */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

#contactWindow .contact-buttons a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 10px;
}

#contactWindow .contact-buttons .icon-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
}

#contactWindow .contact-buttons i {
    font-size: 1.5em;
    color: lightgreen;
}

@media (max-width: 768px) {
    #contactWindow .contact-buttons i {
        font-size: 3em; /* Adjust for mobile if needed */
    }
}

#contactWindow .contact-buttons .contact-text {
    text-align: center;
    font-size: 0.9em;
    white-space: nowrap;
}
@media (max-width: 768px) {
    #contactWindow .contact-buttons .contact-text {
        font-size: 1em; /* Adjust for mobile if needed */
    }
}

#contactWindow .contact-buttons a:hover .icon-circle,
#contactWindow .contact-buttons a:active .icon-circle,
#contactWindow .contact-buttons a:hover .contact-text,
#contactWindow .contact-buttons a:active .contact-text {
    transform: scale(1.1);
}

/* Tooltips */
#contactWindow [data-tooltip] {
    position: relative;
}

/* nth-child Adjustments for Individual Buttons */
#contactWindow .contact-buttons a:nth-child(1) .icon-circle {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
}

#contactWindow .contact-buttons a:nth-child(1) i {
    color: rgb(36, 36, 218);
}

#contactWindow .contact-buttons a:nth-child(2) .icon-circle {
    background-color: transparent;
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
}

#contactWindow .contact-buttons a:nth-child(2) i {
    color: rgb(255, 255, 255);
}

#contactWindow .contact-buttons a:nth-child(3) .icon-circle {
    background-color: rgb(5, 121, 253);
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
}

#contactWindow .contact-buttons a:nth-child(3) i {
    color: rgb(255, 255, 255);
}
#contactWindow .contact-buttons a:nth-child(3) .icon-circle {
    background-color: rgb(5, 121, 253);
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
}

#contactWindow .contact-buttons a:nth-child(4) i {
    color: rgb(144, 203, 92);
    font-size: 2.5em;
}
@media (max-width: 768px) {
    #contactWindow .contact-buttons a:nth-child(4) i {
        font-size: 4em; /* Adjust for mobile if needed */
    }
}

/* Tooltips/ text that appear on hover
********************************************/
[data-tooltip] {
    position: relative;
}
/* Icon/Menu Hover and active effects
******************************************/
.contact-icon:hover .icon-circle,
.contact-icon:active .icon-circle,
.contact-icon:hover .contact-text,
.contact-icon:active .contact-text,
.hamburger-menu:hover,
.hamburger-menu:active {
    transform: scale(1.1);
}

/* orange glow transparent boxes around header section */
.main-title-container{
        position: relative;
        padding: 0px; /* Adjust padding as needed */
        width: 100vw; /* Full viewport width */
}
.image-block {
    position: relative;
    padding: 10px; /* Adjust padding as needed */
}
.main-title-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust transparency */
    box-shadow: 0 0 5px 2px rgb(255, 102, 0), inset 0 0 5px 1px rgb(255, 102, 0); /* Orange glow */
    border: .05px solid rgb(255, 102, 0); /* Add white border */
    border-radius: 4px; /* Optional: Add rounded corners */
    z-index: -1; /* Place behind the content */
    background-color: rgba(255, 255, 255, 0.08); /* Opaque white */
}
.image-block::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust transparency */
    box-shadow: 0 0 5px 2px rgb(255, 102, 0), inset 0 0 5px 1px rgb(255, 102, 0); /* Orange glow */
    border: .05px solid rgb(255, 102, 0); /* Add white border */
    border-radius: 4px; /* Optional: Add rounded corners */
    z-index: -1; /* Place behind the content */
    background-color: rgba(255, 255, 255, 0.08); /* Opaque white */
}

/* Main Title
*******************/
.main-title {
    font-family: stabil_grotesk;
    font-size: 1.5em;
    color: white;
}
/* Greeting
/*****************/
.greeting-section {
    margin-top: 40px;
}
.greeting-content {
    display: flex; /* flexbox */
    flex-direction: row; /* Stack greeting content horizontally */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    align-items: center; /* Vertically center items */
    align-items: flex-start; /* Align items to the top */
    color: white;
    margin-top: 40px;
}
/********************
    profile photo
*********************/
.image-block {
    /*width: 20%;
    /*height: 10vh;*/
    
    position: relative; /* Needed for absolute positioning of images */
    width: 100px; /* Set the container width */
    height: 100px; /* Set the container height */
    overflow: hidden; /* Prevent images from overflowing */
    border-radius: 10px; /* Match the image's border-radius */
    margin: 15px 20px 5px 5px;
}

.image-block img {
    /*position: relative;*/
    position: absolute; /* Position images absolutely within the container */
    width: 100%; /* Make images fill the container */
    height: 100%; /* Make images fill the container */
    object-fit: cover; /* Maintain aspect ratio and cover container */
    transition: opacity 0.5s ease; /* Fade transition */
}

/***************************
    profile photo switch
****************************/
image-container {
    position: relative;
    width: 100px; /* can not Adjust defined in js */
    height: 100px; /* can not Adjust defined in js */
    z-index: 0; /* Set a lower z-index */
}

.image-container img {
    position: absolute;
    width: 100%; /* can not Adjust defined in js */
    height: auto;
    transition: opacity 0.5s ease; /* Fade transition */
}

#profileImage{
    position: absolute;
    /*top: 20px; /* Adjust as needed */
    /*left: 10px; /* Adjust as needed */
    max-width: 100px; /* can not Adjust defined in js */
    height: auto;
    display: block;
    margin: 0;
    transition: opacity 0.5s ease;
    border-radius: 10px;
}

#profileImage2 {
    position: absolute;
    max-width: 100px; /* can not Adjust defined in js */
    height: auto;
    display: block;
    margin: 0;
    transition: opacity 0.5s ease;
    border-radius: 10px;
}

#profileImage2 {
    transform: scaleX(-1);
    opacity: 0;
}

/**********************
profile photo glow
***********************/
#profileImage.glowing,
#profileImage2.glowing {
    filter: drop-shadow(0 0 5px rgb(255, 102, 0)); /* Glow along transparency */
    transform: scale(1.05); /* Adjusted scale */
}
/**********************
    greeting text
***********************/
.text-block {  /* Box for: greeting time<h2>, greeting<h2>, JD Amador in red <span><p>, */
    flex: 1; /* Allow text block to grow and shrink */
    /*width: 45%;*/
    margin: 5px;
    padding: 5px;
    /*flex-basis: 500px;
    flex-grow: 0;
    flex-shrink: 0;*/
}
.text-block h2 {   /* Box for: Greeting time and Greeting */
    font-size: 2.3em;
    margin-bottom: 10px;
    font-family: stabil_grotesk;
}
.text-block h3 { /* Box for: JD Amador (red), and job title. */
    font-size: 2em;
    margin: 5px 0;
    font-family: stabil_grotesk;
    display: block;
    font-weight: normal;
}
.text-block p { /* and job title. */
    font-size: 1.5em;
    margin: 5px 0;
    font-family: stabil_grotesk;
    display: block;
}
.jd-name {  /* JD Amador (red name, Bold) */
    color: #ff6600;
    font-size: 1.2em;
    font-family: stabil_grotesk;
    font-weight: bold;
}



/*
    Intro Text (what I do, notable attributes, notable achievements)
***********************************************************************/
.intro-text {
    flex: 1 0 100%;
    text-align: left;
    padding: 10px;
    color: white;
    font-family: stabil_grotesk, sans-serif;
    font-size: 1.125em;
    letter-spacing: 2px;
    line-height: 1.5em;
    margin-top: 20px;
    /*margin-left: 40px;*/
    /*width: 100%; /* Stretch across full width */
    box-sizing: border-box;
    /* Remove max-width and margin: 0 auto; */
}

/* bullet for intro text */
.intro-text ul {
    margin-left: 40px; /* Add some left margin for indentation */
    padding-left: 0; /* Remove default padding */
}

.intro-text li {
    margin-bottom: 5px; /* Add some spacing between list items */
}

/****************
    sections
*****************/

/* skills box
******************/
#skills {
    position: relative;

    padding: 20px; /*60 changed to test */
    margin: 0 auto;
    margin-top: 20px; /* 60px changed to test */

    box-sizing: border-box;
    min-height: 200px;
    /*max-width: 1200px;*/
    max-width: 95%;
    max-height: 1000px;

    border-radius: 3px;
    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);

    display: flex;
    flex-direction: column;
}
/* projects box
********************/
#projects {
    position: relative;

    padding: 20px; /*60px changed to test*/
    margin: 0 auto;
    margin-top: 20px;/*680px changed to test*/

    box-sizing: border-box;
    min-height: 200px;
    /*max-width: 1200px;*/
    max-width: 95%;
    max-height: 1000px;

    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    border-radius: 3px;

    display: flex;
    flex-direction: column;
}
/* resume box
******************/
#resume {
    position: relative;

    padding: 20px; /*adjusts text from borders */
    margin: 0 auto;
    margin-top: 20px;

    box-sizing: border-box;
    min-height: 200px;
    /*max-width: 1200px;*/
    max-width: 95%;
    max-height: 1000px;

    border-radius: 3px;
    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);

    display: flex;
    flex-direction: column;
}
/* bio box
***************/
#bio {
    position: relative;

    padding: 20px; /*adjusts text from borders */
    margin: 0 auto;
    margin-top: 20px;


    box-sizing: border-box;
    min-height: 200px;
    /*max-width: 1200px;*/
    max-width: 95%;
    max-height: 1000px;

    box-shadow: 0 0 25px 3px rgb(0, 221, 255), inset 0 0 15px 1px rgb(0, 221, 255);
    border-radius: 3px;

    display: flex;
    flex-direction: column;
}
/* sections white background, black text */
#skills, #resume {
    background-color: white; /* Added background-color: white */
    color: black;
}
/* sections black background, white text */
#projects, #bio {
    background-color: black;
    color: white;
}
/* section content control */
.section-content {
    padding: 20px;
    word-wrap: break-word;
    overflow: auto;
    width: 100%;
}

/******************
    top divider
*******************/
.title-flex-wrapper {  /* Divider Box */
    margin-top: 0;
    display: flex;
    align-items: left;
    justify-content: left;
    position: absolute;
    width: 100%;
    top: 0;
}
.divider { /* Divider object */
    height: 2px;
    width: 95%;
    margin: auto;
    background-color: grey;
    z-index: 2;
    margin-top: 30px;
    margin-left: -15px;
    position: relative;
}
.top-divider {  /* Top Divider Object */
    background-color: white;
}
#skills .top-divider,   /* Top Divider (Black Background Sections) */
#resume .top-divider {
    background-color: rgb(172, 238, 255);
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
}
#projects .top-divider, /* Top Divider (White Background Sections) */
#bio .top-divider {
    background-color: rgb(172, 238, 255);
    box-shadow: 0 0 10px 1.5px rgb(0, 221, 255);
}


/******************************************
    Autotyping Title above each Section
*******************************************/
section span.animated-title {
    margin-top: 4px;
    position: absolute;
    top: 87%;
    left: 10%;
    transform: translate(-50%, -50%);
}
.animated-title{
    left: 5%;
    white-space: nowrap;
    font-family: "Colossalis", arial, sans-serif;
    line-height: 1;
    text-transform: uppercase;
    font-size: 1.7em;
    font-weight: bold;
    top: 0px;
    padding: 1px 10px; /* Add padding to create background space */
    border-radius: 28%;
    z-index: 2; /* Ensure it's above the divider */
}

/* Autotype White Background Sections
******************************************/
#skills .animated-title,
#resume .animated-title{
    color: rgb(0, 221, 255);
    background-color: rgba(254, 254, 254, 0.871);
    text-shadow: 0 0 8px rgb(0, 221, 255), /* Bright blue glow */
                0 0 2px rgb(0, 221, 255); /* Slightly less intense blue glow */

}
/* Autotype Black Background Sections
******************************************/
#projects .animated-title,
#bio .animated-title{
    color: rgb(0, 221, 255);
    background-color: rgba(0, 0, 0, 0.943);
    text-shadow: 0 0 8px rgb(0, 221, 255), /* Bright blue glow */
                0 0 2px rgb(0, 221, 255); /* Slightly less intense blue glow */
}
/* adjust left for animated title spacing
***********************************************/
#skills span.animated-title{
    left: 23%;
}
#projects span.animated-title{
    left: 11%;
}
#resume span.animated-title{
    left: 9%;
}
#bio span.animated-title{
    left: 6%;
}

/*********************
    Title Backing
**********************/
/* Title Backing Box for Sections
**************************************/
.title-effects-wrapper {
    position: relative; /* Needed for positioning */
    display: inline-block; /* To contain the background */
    padding: 15px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Optional: for rounded corners */
}
/* Title Backing White Background
**************************************/
#skills .title-background,
#resume .title-background {
    background-color: white;
    color: black;
}
/* Title Backing Black Background
**************************************/
#projects .title-background,
#bio .title-background {
    background-color: black;
    color: white;
}
/* Title Backing Object
**************************************/
.title-background {
    position: absolute;
    left:200px;
    z-index: 1; /* Place behind divider and autotyping */
    border-radius: 15px;
    box-shadow: 0 0 15px 1px rgb(0, 221, 255);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 9%, black 13%, black, rgba(0, 0, 0, 0)); /* Gradient mask */
}
/* Title Backing Glow Effect
**************************************/
.title-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(100px); /* Adjust blur as needed */
    z-index: 1; /* Place behind background */
    /*opacity: 0.7; /* Adjust opacity as needed */

}

/**************************
    Section Backgrounds
***************************/
/* Background Containers for Sections
******************************************/
#skills, #projects, #resume, #bio {
    position: relative; /* Ensure relative positioning for stacking */
}
/* Background Control All Sections
***************************************/
#skills::before, #projects::before, #resume::before, #bio::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -10px;
    bottom: -20px;
    right: 0px;
    width: 100vw; /* Make the background responsive */
    height: auto; /* Make the background responsive */
    z-index: -2; /* layer */
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}
/* Section Background Images
*********************************/
#skills::before {
    background-image: url('../img/skills_bg.png'); /* Replace with your skills image path */
}

#projects::before {
    background-image: url('../img/projects_bg.png'); /* Replace with your projects image path */
}

#resume::before {
    background-image: url('../img/resume_bg.png'); /* Replace with your resume image path */
}

#bio::before {
    background-image: url('../img/bio_bg.png'); /* Replace with your bio image path */
}

/* Section Background Opacity
**********************************/
#skills, #resume {  /* White Background Opacity */
    background-color: rgba(255, 255, 255, 0.5); /* White with 50% opacity */
    color: black;
}
#projects, #bio {   /* Black Background Opacity */
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    color: white;
}


/***********************************
    Section Content Text Control
************************************/
/* Sections h2
******************/
#skills h2 {
    font-family: "Colossalis"!important;
    font-size: 1.5em;
    letter-spacing:2px;
    line-height: 28.8px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 15px rgb(0, 221, 255), /* Bright blue glow */
                0 0 15px rgb(0, 221, 255); /* Slightly less intense blue glow */
}
#projects h2 {
    font-family: "Colossalis"!important;
    font-size: 5em;
    letter-spacing:2px;
    line-height: 28.8px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 15px rgb(0, 221, 255), /* Bright blue glow */
                0 0 15px rgb(0, 221, 255); /* Slightly less intense blue glow */
}
#resume h2 {
    font-family: "Colossalis"!important;
    font-size: 1.5px;
    letter-spacing:2px;
    line-height: 1.5em;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 15px rgb(0, 221, 255), /* Bright blue glow */
                0 0 15px rgb(0, 221, 255); /* Slightly less intense blue glow */
}
#bio h2 {
    font-family: "Colossalis"!important;
    font-size: 1.5em;
    letter-spacing:2px;
    line-height: 1.5em;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 15px rgb(0, 221, 255), /* Bright blue glow */
                0 0 15px rgb(0, 221, 255); /* Slightly less intense blue glow */
}


/* Sections p
******************/
#skills p {
    font-size: 1.125em;
    font-family: "Helvetica"!important;
    font-weight: 300;
    line-height: 1.5em;
    text-shadow: 0 0 20px rgb(0, 221, 255), /* Bright blue glow */
                0 0 0px rgb(0, 221, 255); /* Slightly less intense blue glow */
}
#projects p {
    font-size: 1.125em;
    font-family: "Helvetica"!important;
    font-weight: 300;
    line-height: 1.5em;
    text-shadow: 0 0 20px rgb(0, 221, 255), /* Bright blue glow */
                0 0 0px rgb(0, 221, 255); /* Slightly less intense blue glow */
}
#resume p {
    font-size: 1.125em;
    font-family: "Helvetica"!important;
    font-weight: 300;
    line-height: 1.5em;
    text-shadow: 0 0 20px rgb(0, 221, 255), /* Bright blue glow */
                0 0 0px rgb(0, 221, 255); /* Slightly less intense blue glow */
}
#bio p {
    font-size: 1.125em;
    font-family: "Helvetica"!important;
    font-weight: 300;
    line-height: 1.5em;
    text-shadow: 0 0 20px rgb(0, 221, 255), /* Bright blue glow */
                0 0 0px rgb(0, 221, 255); /* Slightly less intense blue glow */
}

/* Prevent Zooming */
@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
    body {
        font-size: 10px; /* Adjust font size for mobile */
    }
}

/* Media Queries for Mobile */
/*@media (width: 768px) {
    .greeting-content {
        flex-direction: column; /* Stack vertically on smaller screens */
/* align-items: center; /* Center content */
/* }

    .image-block {
        /*width: 80%; /* Adjust image block width for smaller screens */
/* margin: 20px ; /* Center image block */
        /*margin-right: 0;
    }

    .text-block {
        margin-right: 0; /* Remove right margin on mobile */
/* }
}*/